@model List<FruitableShop.Models.User>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">
    DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
                                                               href="https://datatables.net">official DataTables documentation</a>.
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">User management</h6>
    </div>
    <button><a asp-action="AddUser">Create New</a></button>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone number</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone number</th>
                        <th>Active</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach( var u in Model)
                    {
                        <tr>
                            <td>@u.Id</td>
                            <td>@u.Username</td>
                            <td>@u.Email</td>
                            <td>@u.Address</td>
                            <td>@u.Phone</td>
                            <td>
                                <div style="display: flex; gap: 5px">
                                    <button>
                                        <a asp-action="EditUser" asp-route-id="@u.Id">Update</a>
                                    </button>
                                    <button><a asp-action="DeleteUser" asp-route-id="@u.Id">Delete</a></button>
                                    <button><a asp-action="Detail" asp-route-id="@u.Id">Detail</a></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>